{% extends "netinfo.html" %}



   

{% block degree %}
<div style="clear:both"/>

<div id="degbox">
<form action="/nets/netdeg/" method="get">
<input type="submit" value="Generate Degree Distribution Histogram">
</form>

<img src="/site_media/nets/degree_histogram.png" alt="degree histogram">
</div>

{% endblock %}

{% block error %}

{% if noComponent %}

<p style="color:red;margin-left:20px">Component analysis returned 0.</p>

{% endif %}

{% endblock%}

{% block display %}

{# from dotview.html; refactor to cull duplicate code, later? <b>{{pname}} </b><br/> #}
<form action="/nets/netdisplay/" method="GET">
<label><b>Displayed property:</b></label>{{form.fprop}}
	<label><b>Image format:</b></label>{{form.fformat}}<label><b>Layout:</b></label>{{form.layout}}
     {# <label><b>Reaction Label:</b></label>{{form.rlabel}}<label><b>Metabolite Label:</b></label>{{form.mlabel}}<br/> #}
	<input type="submit" name="igem" value="draw">
</form>
{% ifequal format "svg" %}
<embed src="/site_media/nets/{{pname}}.svg" width="500" height="500" type="image/svg+xml" pluginspace="http://www.adobe.com/svg/viewer/install/" 
/>
{% else %}
  <img src="/site_media/nets/{{pname}}.{{format}}" alt={{pname}} />
{% endifequal %}

{% endblock %}

</body>
</html>
